
@import "variables";

body{
    font-family: Old English text MT ;
    background-color:$color-primario;
}
/*comienzo-index-mobile*/
#imagenlogo{
    height: 10%;
    width:100%;
    margin-left: 1%;
    object-fit: contain;
}
.estructura-index{
    display: grid;
    grid-template-areas:
    "nav" 
   "cuerpo-index"
    "redes-index"
    ;
}
.nav{
    grid-area: nav;
}
.cuerpo-index{
    grid-area:cuerpo-index;
    margin-top: 50px;
    display: flex;
    flex-direction: column;   
    img{
        border: 3px solid;
        width: 320px;
        height: 200px;
    }
    .imagenes-1{
        left:30% ;
        top: 25%;
        position: absolute;
        color:#cccc00;
    }
    .imagenes-2{
       top: 65%;
       left: 30%;
       position: absolute;
       color: #cccc00
    
    }
    .imagenes-3{
      left: 35%;
      top: 105%;
      position: absolute;
      color: #cccc00
    }
    .imagenes-4{
        left: 35%;
        top: 145%;
        position: absolute;
        color: #cccc00;
    }
    a:hover{
        color: #853100;
    }
}

.redes-index{
    grid-area: redes-index;
    img{
        width: 100px;
    }
}

/*fin-del-index-mobile*/

/*page-catalogo-comienzo-mobile*/
.estructura-catalogo{
    display: grid;
    grid-template-areas: 
    "nav"
    " header-catalogo"
    " main-catalogo"
    ;
}
.header-catalogo{
    display: flex;
    justify-content: center;
    grid-area: header-catalogo;
    text-decoration: underline;
    h3{
        width:60%;
        padding:15px;
        color: yellow;
    }
}
.main-catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    img{
        width: 200px;
    }
}
    .cata{
        font-size: $letra-fuente*3;
         list-style: none;
         &:hover{ color: #cccc00;}
       
       
        li{
         padding: 10px 10px;
         display: block;
        
        }
         & > li{
         float: left;
         ul{
             padding: 0;
              display: none;
         
         min-width: 140px;
         }
         &:hover>ul{
             display: block;
         }
       }
     
    }  
     

/*fin-page-contalogo-mobile*/

/*comienzo-page-contacto*/
.form-titulo{
    background-color: $color-terciario;
    display: flex;
    justify-content: center;
   
    h1{
        font-size: $letra-fuente*4;
        text-decoration: underline;
    }
}
.form-main{
display: flex;
justify-content: center;
width: 100%;
margin: auto;
background: rgba(0,0,0,0.5);
padding: 10px 20px;
margin-top: 15px;
border-radius: 7px;
h2{
    text-align: center;
    margin: 0;
    font-size: $letra-fuente*4;
}
input{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: $letra-fuente+7;
}
textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: $letra-fuente+7;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
#button-form{
    background: #31384a;

 &:hover{
    cursor: pointer;
 }   
}
    
}



.redes-contactos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   img{
    width: 50px;
    height: 50px;
    }
}
/*fin-page-contacto-mobile*/

/*comienzo-page-nosotros-mobile*/
.estructura-nosotros{
    display: grid;
    grid-template-areas: 
    "nav "
    "titulo-nosotros"
    "cuerpot-nosotros"
    ;
   
}
.titulo-nosotros{
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: underline;
}
.intro-nosotros-1{
    grid-area: intro-nosotros-1;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
    }
    p{
        margin: 15px;
        text-align: justify;
    }
    
}
.historia-nosotros-2{
    grid-area: historia-nosotros-2;
    display: flex;
    flex-direction: column-reverse; 
    img{
       width: 100%;
    }
    p{
        margin: 15px;
        text-align: justify;
    }
}
.historia-nosotros-3{
    grid-area: historia-nosotro-3;
    display: flex;
    flex-direction: column;
    img{
      width: 100%;
    }
    p{
        margin: 15px;
        text-align: justify;
    }
}
/*fin-page-nostros-mobile*/

/*comienzo-page-fabrica-mobile*/
.estructura-fabrica{
    display: grid;
    grid-template-areas: 
    "header-fabrica"
    "main-fabrica"
    ;
}
.header-fabrica{
    grid-area: header-fabrica;
    display: flex;
    justify-content:center;
    hi{
        font-size: 40px;
        text-decoration: underline;
    }
    &:hover{
        color: yellow;
    }
}
.main-fabrica{
    grid-area: main-fabrica;
    display: grid;
    grid-template-areas: 
    "historia-fabrica-1"
    "historia-fabrica-2"
    "historia-fabrica-3"
    ;
    img{
        width: 100%;
        height: 250px;
    }
    margin: 10px;
}
.historia-fabrica-1{
    grid-area: historia-fabrica-1;
    p{
        font-size: 20px;
        text-align: justify;
    }
    &:hover{
        color: #cccc00;
    }
}
.historia-fabrica-2{
    grid-area: historia-fabrica-2;
    p{
        font-size: 20px;
        text-align: justify;
        }
    &:hover{
            color: #cccc00;
        }
}
.historia-fabrica-3{
    grid-area: historia-fabrica-3;
       
        p{
            font-size: 20px;
            text-align: justify;
        }
        &:hover{
            color: #cccc00;
        }
    }
//media-desktop

@media screen and (min-width:1024px) { 
 /*comienzo-page-index-desktop*/   
    .estructura-index{
        display: grid;
        grid-template-areas: 
            "nav cuerpo-index"
            "nav cuerpo-index"
            "redes-index redes-index"
        }
    

       
nav{
    grid-area: nav;

}
 .cuerpo-index{
        border: 0px;
        grid-area: cuerpo-index; 
    img{
        object-fit: cover;
        margin: 10px;
        width: 300px;
        height: 400px;
    }
}
.top-imagenes{
    display: flex;
    flex-direction: row;

    .imagenes-1{
        top: 45%;
        left: 20%;
        color: yellow;
        position: absolute;
    }
    .imagenes-2{
        top:45%;
        left:20%;
        color: #cccc00;
        position: absolute;

     }

}  
.bot-imagenes{
   display: flex;
   flex-direction: row;
   .imagenes-3{
    top: 47%;
   }
   .imagenes-4{
    top: 45%;
   }

}   
.image1, .image2, .image3, .image4 {
    position: relative; 
    transition: transform 0.7s;
    &:hover{
        transform: scale(1.3);
    }
}

.redes-index{
    grid-area: redes-index;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
        width: 50px;
        height: 50px;
    }
    
}
/*fin-page-index-desktop*/

   /*comienzo-page-nosotros-desktop*/
   .estructura-nosotros{
    display: grid;
       grid-template-areas:
       "sidenav titulo-nosotros"
       "sidenav cuerpo-nosotros"
       ;  
   }
   .cuerpo-nosotros{
       grid-template-areas: 
       "intro-nosotros-1"
       "historia-nosotros-2"
       "historia-nosotros-3"
       ;  
       img{
           width: 500px;
           height: 400px;
       }
   }
   .intro-nosotros-1{
       grid-area: intro-nosotros-1;
       display:flex;
       flex-direction: row;

       
       p{  
           font-size: $letra-fuente*2 ;
           text-align: justify;
       }
       &:hover{
           color: #cccc00;
       }
   }
   .historia-nosotros-2{
    grid-area: historia-nosotros-2;
    display:flex;
    flex-direction: row;
    p{
        font-size:$letra-fuente*2;  
        text-align: justify;
    }
    &:hover{
        color: #cccc00;
    }
}
.historia-nosotros-3{
    grid-area: historia-nosotros-3;
    display: flex;
    flex-direction: row;
    p{
        font-size: 20px;  
        font-size: 20px ;
        text-align: justify;
    }
    &:hover{
        color: #cccc00;
    }   
}
/*fin-page-nosotros-desktop*/

/*comienzo-page-catalogo-desktop*/
    

.header-catalogo {
    display:flex;
    justify-content: right;
    grid-area: header-catalogo;
     font-size: $letra-fuente*5;
    text-decoration: underline;
}     
.main-catalogo{
    display:grid;
    grid-template-areas:
    "catalogo-1 catalogo-2"
    "catalogo-3 catalogo-4"
    "catalogo-5 catalogo-5";
   
   padding: 10px 60px;
   img{
    width:350px;
    height: 280px;
   }
}


.catalogo-1{
grid-area:catalogo-1 ;

}
.catalogo-2{
    grid-area: catalogo-2;
}
.catalogo-3{
    grid-area: catalogo-3;
}
.catalogo-4{
    grid-area: catalogo-4;
}
.catalogo-5{
    grid-area: catalogo-5;
   
}
/*comienzo-page-la-fabrica-desktop*/

.main-fabrica{
    margin: 20px;
    img{
        width: 100%; 
        height: 450px;   
    }
    
}
/*comienzo-page-contacto-desktop*/
.form-main{
    width: 450px;
}
}


